header{
    padding: 80px lightgreen;
    border: royalblue solid;
    border-radius: 10px;
    margin: 20px;
    background-color: #77ec77;

}

.nome{
    padding: 80px lightgreen;
    margin: 10px;
    border-radius: 10px;
    background-color: lightyellow;
    text-align: center;
}

.lufa{
    padding:80px lightgreen ;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(186, 230, 231);
    align-items: center;
    text-align: center;
    justify-content: center;


}

.container{
    padding: 80px lightgreen;
    margin: 10px;
    border-radius: 10px;
    background-color:lightgreen;
    text-align: center;
    align-items: center;
    justify-content: center;


}

.draco{
    padding: 80px lightgreen;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;   
    background-color: rgb(206, 230, 231);
    text-align: center;
    align-items: center;
    justify-content: center;


}

.pomo{
    padding: 80px lightgreen;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    border-radius: 10px;   
    background-color: rgb(186, 230, 231);           
}

.hermione{
    padding: 80px lightgreen;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    border-radius: 10px;   
    background-color: lightgreen; 
}

.rony{
    padding: 80px lightgreen;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    border-radius: 10px;   
    background-color: rgb(186, 230, 231); 
}

.harry{
    padding: 80px lightgreen;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    border-radius: 10px;   
    background-color: rgb(125, 238, 125);
}

.voldemort {
    padding: 80px lightgreen;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border-radius: 10px;   
    background-color: rgb(186, 230, 231);
}

.fenix{
    padding: 80px lightgreen;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border-radius: 10px;   
    background-color: rgb(125, 238, 125);
}

.cobra{
    padding: 80px lightgreen;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border-radius: 10px;   
    background-color: rgb(186, 230, 231);
}
select{
border-radius: 10px;
border: deepskyblue solid 2px;
padding:10px;
margin: 10px;
align-items: center;
justify-content: center;
}

