header{
    padding: 60px lightgreen;
    border: royalblue solid;
    border-radius: 10px;
    margin: 20px;
    background-color: #77ec77;

}

.nome{
    padding: 80px lightgreen;
    border: solid 2px black;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 118);
    text-align: center;
}

.lufa{
    padding:800px lightgreen ;
    margin: 10px;
    border-radius: 10px;
    background-color:rgb(236, 236, 126);
    align-items: center;
    justify-content: center;


}

.container{
    padding: 80px lightgreen;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(186, 230, 231);
    align-items: center;
    justify-content: center;


}

.draco{
    padding: 80px lightgreen;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;   
    background-color: lightgreen;
    align-items: center;
    justify-content: center;


}

.pomo{
    padding: 80px lightgreen;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;   
    background-color: lightgreen;           
}

select{
border-radius: 10px;
border: deepskyblue solid 2px;
padding:10px;
margin: 10px;
align-items: center;
justify-content: center;
}
